@keyframes changePositionToRight {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes changePositionToLeft {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}

/* @keyframes changeWidth {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
} */

.toRight {
  left: 50%;
  animation: changePositionToRight 0.6s linear 1;
}

.toLeft {
  left: 0;
  animation: changePositionToLeft 0.6s linear 1;
}
.based {
  left: 50%;
}
